##### Beginning of file

############################################################################

addons:
    apt:
        packages:
        - pdf2svg
        - pgf
        - poppler-utils
        - texlive-binaries
        - texlive-latex-base
        - texlive-latex-extra
        - texlive-pictures

branches:
    only:
    - develop
    - master
    - staging
    - trying
    - /^release\/.*$/ # release branches
    - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags

cache:
    directories:
        - $HOME/predictmd_cache_travis

env:
    global:
        - COMPILED_MODULES_VALUE_FOR_DOCS="yes"
        - DOCUMENTER_DEBUG="true"
        - FIRST_GROUP="travis-1"
        - JULIA_DEBUG="all"
        - JULIA_VERSION_FOR_DOCS="1.1"
        - LAST_GROUP="travis-7"
        - PREDICTMD_OPEN_PLOTS_DURING_TESTS="true"

git:
    depth: 99999999

language: bash

matrix:
    allow_failures:
        - os: osx
    fast_finish: true

notifications:
    email:
        on_success: never # default: change
        on_failure: always # default: always

os:
    - linux
    - osx

############################################################################

before_install:
    - true
install:
    - true
before_script:
    - true
script:
    - true
after_script:
    - true

############################################################################

stages:
    - travis-1
    - travis-2
    - travis-3
    - travis-4
    - travis-5
    - travis-6
    - travis-7

############################################################################

jobs:
    include:

        - stage: travis-1
          os: linux
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-1"
          install: ./ci/travis/install.sh "travis-1"
          script: ./ci/travis/script.sh "travis-1"

        # - stage: travis-1
        #   os: linux
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-1"
        #   install: ./ci/travis/install.sh "travis-1"
        #   script: ./ci/travis/script.sh "travis-1"

        - stage: travis-1
          os: osx
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-1"
          install: ./ci/travis/install.sh "travis-1"
          script: ./ci/travis/script.sh "travis-1"

        # - stage: travis-1
        #   os: osx
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-1"
        #   install: ./ci/travis/install.sh "travis-1"
        #   script: ./ci/travis/script.sh "travis-1"

        - stage: travis-2
          os: linux
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-2"
          install: ./ci/travis/install.sh "travis-2"
          script: ./ci/travis/script.sh "travis-2"

        # - stage: travis-2
        #   os: linux
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-2"
        #   install: ./ci/travis/install.sh "travis-2"
        #   script: ./ci/travis/script.sh "travis-2"

        - stage: travis-2
          os: osx
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-2"
          install: ./ci/travis/install.sh "travis-2"
          script: ./ci/travis/script.sh "travis-2"

        # - stage: travis-2
        #   os: osx
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-2"
        #   install: ./ci/travis/install.sh "travis-2"
        #   script: ./ci/travis/script.sh "travis-2"

        - stage: travis-3
          os: linux
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-3"
          install: ./ci/travis/install.sh "travis-3"
          script: ./ci/travis/script.sh "travis-3"

        # - stage: travis-3
        #   os: linux
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-3"
        #   install: ./ci/travis/install.sh "travis-3"
        #   script: ./ci/travis/script.sh "travis-3"

        - stage: travis-3
          os: osx
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-3"
          install: ./ci/travis/install.sh "travis-3"
          script: ./ci/travis/script.sh "travis-3"

        # - stage: travis-3
        #   os: osx
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-3"
        #   install: ./ci/travis/install.sh "travis-3"
        #   script: ./ci/travis/script.sh "travis-3"

        - stage: travis-4
          os: linux
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-4"
          install: ./ci/travis/install.sh "travis-4"
          script: ./ci/travis/script.sh "travis-4"

        # - stage: travis-4
        #   os: linux
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-4"
        #   install: ./ci/travis/install.sh "travis-4"
        #   script: ./ci/travis/script.sh "travis-4"

        - stage: travis-4
          os: osx
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-4"
          install: ./ci/travis/install.sh "travis-4"
          script: ./ci/travis/script.sh "travis-4"

        # - stage: travis-4
        #   os: osx
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-4"
        #   install: ./ci/travis/install.sh "travis-4"
        #   script: ./ci/travis/script.sh "travis-4"

        - stage: travis-5
          os: linux
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-5"
          install: ./ci/travis/install.sh "travis-5"
          script: ./ci/travis/script.sh "travis-5"

        # - stage: travis-5
        #   os: linux
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-5"
        #   install: ./ci/travis/install.sh "travis-5"
        #   script: ./ci/travis/script.sh "travis-5"

        - stage: travis-5
          os: osx
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-5"
          install: ./ci/travis/install.sh "travis-5"
          script: ./ci/travis/script.sh "travis-5"

        # - stage: travis-5
        #   os: osx
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-5"
        #   install: ./ci/travis/install.sh "travis-5"
        #   script: ./ci/travis/script.sh "travis-5"

        - stage: travis-6
          os: linux
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-6"
          install: ./ci/travis/install.sh "travis-6"
          script: ./ci/travis/script.sh "travis-6"

        # - stage: travis-6
        #   os: linux
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-6"
        #   install: ./ci/travis/install.sh "travis-6"
        #   script: ./ci/travis/script.sh "travis-6"

        - stage: travis-6
          os: osx
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-6"
          install: ./ci/travis/install.sh "travis-6"
          script: ./ci/travis/script.sh "travis-6"

        # - stage: travis-6
        #   os: osx
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-6"
        #   install: ./ci/travis/install.sh "travis-6"
        #   script: ./ci/travis/script.sh "travis-6"

        - stage: travis-7
          os: linux
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-7"
          install: ./ci/travis/install.sh "travis-7"
          script: ./ci/travis/script.sh "travis-7"

        # - stage: travis-7
        #   os: linux
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-7"
        #   install: ./ci/travis/install.sh "travis-7"
        #   script: ./ci/travis/script.sh "travis-7"

        - stage: travis-7
          os: osx
          env:
            - JULIA_VER="1.1"
            - COMP_MODS="yes"
          before_install: ./ci/travis/before_install.sh "travis-7"
          install: ./ci/travis/install.sh "travis-7"
          script: ./ci/travis/script.sh "travis-7"

        # - stage: travis-7
        #   os: osx
        #   env:
        #     - JULIA_VER="1.1"
        #     - COMP_MODS="no"
        #   before_install: ./ci/travis/before_install.sh "travis-7"
        #   install: ./ci/travis/install.sh "travis-7"
        #   script: ./ci/travis/script.sh "travis-7"

############################################################################

##### End of file
