branches:
    except:
        - gh-pages

environment:
    matrix:
        # - JULIA_URL: "https://julialang-s3.julialang.org/bin/winnt/x64/0.6/julia-0.6-latest-win64.exe"
        - JULIA_URL: "https://julialang-s3.julialang.org/bin/winnt/x64/0.7/julia-0.7-latest-win64.exe"
        # - JULIA_URL: "https://julialangnightlies-s3.julialang.org/bin/winnt/x64/julia-latest-win64.exe"

image: Visual Studio 2015

matrix:
    fast_finish: true # immediately finish build once one of the jobs fails
    # allow_failures:
        # - JULIA_URL: "https://julialangnightlies-s3.julialang.org/bin/winnt/x64/julia-latest-win64.exe"

notifications:
    - provider: Email
      on_build_success: true
      on_build_failure: true
      on_build_status_changed: true

skip_branch_with_pr: false

skip_non_tags: false

skip_tags: false

version: '{build}'

###############################################################################

install:
    - ps: "[System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12"
    # If there's a newer build queued for the same PR, cancel this build
    - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
          https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
          Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
          throw "There are newer queued builds for this pull request, failing early." }
    # Configure Visual Studio build environment
    - call "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64
    - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86_amd64
    # Download the appropriate Julia Windows binary
    - ps: (new-object net.webclient).DownloadFile(
          $env:JULIA_URL,
          "C:\projects\julia-binary.exe")
    # Run Julia installer silently, output to C:\projects\julia
    - C:\projects\julia-binary.exe /S /D=C:\projects\julia

build_script:
    # Need to convert from shallow to complete for Pkg.clone to work
    - IF EXIST .git\shallow (git fetch --unshallow)
    - C:\projects\julia\bin\julia --check-bounds=yes --color=yes -e "Pkg.clone(pwd(), \"PredictMD\")"
    - C:\projects\julia\bin\julia --check-bounds=yes --color=yes -e "Pkg.build(\"PredictMD\")"

test_script:
    - C:\projects\julia\bin\julia --check-bounds=yes --color=yes -e "import PredictMD"
    - C:\projects\julia\bin\julia --check-bounds=yes --color=yes -e "Pkg.test(\"PredictMD\")
